@media screen and (max-width: 780px) {
    header {
        display: none;
    }
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem;
    }
    .home-img {
        display: none;
    }
    .home-text {
        width: 100%;
        padding: 0;
        margin-top: 100px; 
    }
    .socials-icons {
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-top: 1rem; 
    }
    .scroll-btn {
        display: none;
    }
    .about,
    .skills,
    .projects {
        padding: 2rem;
        text-align: center; 
    }
    .about-img img,
    .skills-img img,
    .projects-img img {
        display: none;
    }
    .footer {
        padding: 2rem;
        text-align: center;
    }
    .skills,
    .projects {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
    }
    .skills .skills-text,
    .projects .projects-text {
        padding: 2rem;
    }
    .about {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
    }
    .socials-icons-projects {
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-top: 1rem; 
    }
}






