@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #f7f7f2;
    color: #1e1e24;
}
header {
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    background-color: #f7f7f2;
}
footer {
    width: 100%;
    background-color: #1e1e24;
    align-items: center;
    display: flex;
    padding: 2rem 8rem;
    justify-content: center;
}
.logo {
    color: #1e1e24;
    font-size: 2rem;
    font-weight: 600;
}
.navmenu {
    display: flex;
}
.navmenu a {
    display: flex;
    margin: 0 1.5rem;
    color: #1e1e24;
    font-weight: 400;
    transition: all 0.6s;
}
.navmenu a:hover {
    transform: translateY(-5px);
}
.home {
    width: 100%;
    height: 80vh;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 5rem 0 18rem;
    gap: 1rem;
}
.home-img img {
    width: 80%;
    height: auto;
    padding-left: 6rem;
    border-radius: 60%;
}
.home-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.home-text h3 {
    position: relative;
    padding-left: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.home-text h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #1e1e24;
    left: 0;
    top: 1rem;
}
.home-text p {
    margin-bottom: 2rem;
}
.btn {
    display: inline-block;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #f7f7f2;
    border: 1px solid #1e1e24;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    background: #1e1e24;
    transition: all 0.5s;
}
.btn:hover {
    background: #f7f7f2;
    color: #1e1e24;
    transform: translateY(5px);
}
.socials-icons {
    position: absolute;
    top: 40%;
    padding: 0 8rem;
}
.socials-icons i {
    display: block;
    margin: 25px 0;
    color: #1e1e24;
    font-size: 1.5rem;
    transition: all 0.6s;
}
.socials-icons i:hover {
    transform: rotate3d(0, 0, 1, 90deg);
}
.scroll-btn {
    position: fixed;
    bottom: 7%;
    left: 9%;
}
.scroll-btn {
    color: #1e1e24;
    display: flex;
    border: 1px solid #1e1e24;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.about-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.about-text h3 {
    position: relative;
    padding-left: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.about-text h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #1e1e24;
    left: 0;
    top: 1rem;
}
.about-text p {
    margin-bottom: 2rem;
}
.socials-icons-about i {
    display: inline;
    margin: 25px 0;
    padding: 15px;
    color: #1e1e24;
    font-size: 1.5rem;
    transition: all 0.6s;
}
.about {
    width: 100%;
    height: 80vh;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 5rem 0 18rem;
}
.about-img img {
    width: 100%;
    height: auto;
    padding-right: 6rem;
}
.skills {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 5rem 0 18rem;
}
.skills-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.skills-text h3 {
    position: relative;
    padding-left: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.skills-text h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #1e1e24;
    left: 0;
    top: 1rem;
}
.skills-text p {
    margin-bottom: 2rem;
}
.skills-img img {
    width: 100%;
    height: auto;
    padding-left: 6rem;
}
.icons-skills {
    align-items: center;
}
.icons-skills img {
    padding: 10px;
    margin-bottom: 3rem;
}
.icons-skills img:hover {
    transform: translate(5px, 3px);
}
.projects-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.projects-text h3 {
    position: relative;
    padding-left: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.projects-text h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #1e1e24;
    left: 0;
    top: 1rem;
}
.projects-text p {
    margin-bottom: 2rem;
}
.socials-icons-projects i {
    display: inline;
    margin: 25px 0;
    padding: 25px;
    color: #1e1e24;
    font-size: 4rem;
    transition: all 1.5s;
}
.projects {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 5rem 0 18rem;
}
.projects-img img {
    width: 100%;
    height: auto;
    padding-right: 6rem;
}
.contact {
    text-align: center; 
}
.contact h3 {
    color: #f7f7f2;
}
.contact p {
    color: #f7f7f2;
}
.socials-icons-contact i {
    display: inline;
    margin: 10px;
    padding: 25px;
    color: #f7f7f2;
    font-size: 2rem;
}
